@import 'color';

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 65px;
    background: $dark;
    padding: 6px 8px;
    transition: all 0.5s ease;
    &.active{
        width: 240px;
        .logo_content{
            .logo{
                opacity: 1;
                pointer-events: 0;
            }
        }
        #btn{
            left: 90%;
        }
        .links_name{
            opacity: 1;
            pointer-events: auto;
        }
    }
    
    .logo_content{
        .logo{
            color: $light;
            display: flex;
            height: 50px;
            width: 100%;
            align-items: center;
            opacity: 0;
            pointer-events: none;
            i{
                font-size: 28px;
                margin-right: 5px;
            }
            .logo_name{
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
    ul{
        margin-top: 20px;
        li{
            position: relative;
            height: 50px;
            width: 100%;
            margin: 0 2px;
            list-style: none;
            a{
                color: $light;
                display: flex;
                align-items: center;
                text-decoration: none;
                transition: all 0.2s ease;
                border: 12px;
                white-space: nowrap;
                i{
                    height: 50px;
                    min-width: 50px;
                    border-radius: 12px;
                    line-height: 50px;
                    text-align: center;
                    }
                    &:hover{
                        color:$dark;
                        background: $light;
                        border-radius: 10px;
                }
            }
        }
    }

    #btn{
        position: absolute;
        color: $light;
        left: 55%;
        top: 6px;
        font-size: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        transform: translateX(-50%);
    }
    .links_name{
     opacity: 0;
     pointer-events: none;
    }
}