@import '../node_modules/bootstrap/scss/bootstrap.scss';


$dark-body:#18191A;

body {
    margin:0;
    padding: 0;
}

nav{
    .container-fluid{
        padding-left: 50px;
        padding-right: 50px;
    }
}

main{
    .background {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 0;
      }
}